@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>E-mail:</strong> <a href="mailto:jman27182818@gmail.com">jman27182818@gmail.com</a>
</address>
