@{
    if(@ViewData["result"] == null)
    {
        ViewData["result"] = "Results shown here.";
    }
    if(@ViewData["input1"] == null)
    {
        ViewData["input1"] = "";
    }
    if(@ViewData["input2"] == null)
    {
        ViewData["input2"] = "";
    }
}

<br><br>

<p>The following computes the binomial coefficient 'n choose k'.  In other words the number of ways one can choose k items from n total items.
</p>

<br><br>

<form accept-charset="0123456789" asp-action="BinomialCoeff" asp-controller="Programs">
    <div class="form-group">
                <label name="number">Please Enter an Integer for n</label>
                <input name="number" type="text" class="form-control" value=@ViewData["input1"]>
    </div>
    <div class="form-group">
                <label name="knumber">Please Enter an Integer for k</label>
                <input name="knumber" type="text" class="form-control" value=@ViewData["input2"]>
    </div>

    <div class="form-group">
                <input type="submit" value="result" class="btn btn-default">
    </div>
</form>

<div>
    <p align="center" style="word-wrap: break-word;">@ViewData["result"]</p>
</div>
