<h1 align="center">My Programs</h1>

<br><br>

<p>Here, we list the available programs you can run live.  
    This collection is mainly of random computational programs I wanted to 
    have running live as well as things I have found useful.</p>

<h2>Math Related Programs</h2>

<ul>
    <li><a asp-area="" asp-controller="Programs" asp-action="Factorial">Factorial</a></li>
    <li><a asp-area="" asp-controller="Programs" asp-action="Fibonacci">Fibonacci</a></li>
    <li><a asp-area="" asp-controller="Programs" asp-action="BinomialCoeff">Binomial Coefficient (Choose)</a></li>
</ul>

<p>Many of the programs above will output large numbers.  If you want be able to speak the number, consider using this <a href="https://play.google.com/store/apps/details?id=com.dahak.wordstonumbers">app</a> if the number is below a google.</p>

<br><br>

<h2>Physics Related Programs</h2>

<h4>Time dilation</h4>
<ul>
    <li><a asp-area="" asp-controller="Physics" asp-action="TwinParadoxStoP">Twin Paradox: Ship time to planet time</a></li>
    <li><a asp-area="" asp-controller="Physics" asp-action="TwinParadoxPtoS">Twin Paradox: planet time to ship time</a></li>
    <li><a asp-area="" asp-controller="Physics" asp-action="BlackHole">Black Holes: time near the BH to time far from BH</a></li>
    <li><a asp-area="" asp-controller="Physics" asp-action="BlackHole">Black Holes: time far from BH to time near the BH</a></li>
    <li><a asp-area="" asp-controller="Physics" asp-action="AccelerationTravel">Accelerating ship time to non-accelerating time</a></li>
</ul>

<h4>Basic Physics</h4>


<br><br>

<p>I plan to put more programs here when I get the time.  If you have an idea on what I should put on here, feel free to e-mail me.</p>

